.apionly
.appname
.attic
.build.hqx
.build.sh
.codeberg.org
.commit
.dataonly
.dev
.export
.github.com
.gitlab.com
.goo.*
.info
.norelease
.nowin
.sr.ht
.summary.txt
.tag
.todo
.version
Makefile
doc
vendor
cmd/aiagent/aiagent
